<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sm_06.moodify">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Signup"
            android:theme="@style/AppTheme" />

        <activity android:name=".HomePage"
            android:theme="@style/AppTheme" />

        <activity android:name=".MoodPage"
            android:theme="@style/AppTheme" />

        <activity android:name=".PlayerActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".CardViewActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".BolIClassicActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".BollInspirationalActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".BolRomanticActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".BolSadActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".BolTrapActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".HolHappyActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".HollClassicActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".HollInspirationalActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".HollTrapActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".HolRomanticActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".HolSadActivity"
            android:theme="@style/AppTheme" />





    </application>



</manifest>